<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Wishlist</title>
</head>
<body>
    <h1>Add "{{ book.title }}" to Wishlist</h1>

    <!-- Wishlist form -->
    <form action="{% url 'wishlist-list-create' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.id }}">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment"></textarea><br>
        <input type="submit" value="Add to Wishlist">
    </form>
</body>
</html>
